<div class="span4">
  <ul class="unstyled">
    <li><%= link_to "/auth/facebook" do %><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>Facebook<% end %></li>
    <li><%= link_to "/auth/twitter" do %><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>Twitter<% end %></li>
    <li><%= link_to "/auth/github" do %><%= image_tag "github_64.png", :size => "64x64", :alt => "Github" %>Github<% end %></li>
  </ul>
</div>